ul{
  list-style-type: none;
}
ul li a{
  text-decoration: none;
}

ul{
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}
ul li{
  margin-right: 20px;
  font-weight: bold;
}

.footer{
  margin-top: 400px;
}